<h1>About the University System</h1>
<div>
    This University System (aka System) is originally developed to simplify university processes and providing access to any useful information by Internet.
    It allows students and teachers to view any actual info about lessons schedule, marks, educational programmes, etc.
</div>
<hr>
<div>
    <i>Main idea, backend, frontend, database development: <b>Mikhail Novikov</b> aka <a href="http://github.com/elkprostoelk" target="new">elkprostoelk</a>, Junior .NET Engineer</i>
    Linkedin: <a href="https://www.linkedin.com/in/mikhail-novikov-61650b212/" target="new">https://www.linkedin.com/in/mikhail-novikov-61650b212/</a><br>
    <i>Inspired by KSU24 <a href="https://ksu24.kspu.edu" target="new">https://ksu24.kspu.edu</a></i>
</div>