<div class="container text-center form-signin w-50">
    <form [formGroup]="loginForm" (submit)="login(loginForm.value)">
        <img class="mb-4" src="../../../favicon.ico" alt="" width="62">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div class="alert-danger mb-2" [hidden]="!loginField?.errors && !passwordField?.errors && !roleField?.errors">
          {{logErrors(loginField)}}
          {{logErrors(passwordField)}}
          {{logErrors(roleField)}}
        </div>
        <div class="form-floating">
          <input class="form-control" type="text" id="floatingInput" formControlName="login" placeholder="Your login" (change)="onLoginInput($event)">
          <label for="floatingInput">Login</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control mb-3" id="floatingPassword" formControlName="password" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <label class="mb-3" for="userRole">Select your role to sign in</label>
        <select class="form-select mb-3" formControlName="roleId" id="userRole">
          <option value="" disabled selected>Select a role</option>
          <option *ngFor="let role of roles$ | async" [value]="role.id">{{ role.fullName }}</option>
        </select>
        <button class="w-100 btn btn-lg btn-primary" [disabled]="loginForm.invalid">Sign in</button>
    </form>
</div>
